@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.chat__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat_fixed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-height: 10vh;
  background-color: $primary-color;
  color: $pulse-white;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 3vh;
  @include box-shadow($box-shadow);

  .chat__header-title {
    font-size: 1.5rem;
    font-family: $font-family-serif;
    position: relative;
    cursor: pointer;
    word-wrap: break-word;
    overflow-wrap: break-word;

    &:hover::after {
      content: attr(data-description);
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(0);
      padding: 0.5rem;
      background-color: $text-color;
      color: $pulse-white;
      border-radius: 8px;
      z-index: 10;
      font-size: 0.8rem;
      width: auto;
      min-width: 10vw;
      max-width: 40vw;
      max-height: 20vh;
      overflow-y: auto;
      text-align: center;
      white-space: normal;
      word-wrap: break-word;
      @include box-shadow($box-shadow);
    }

    &:hover::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: $text-color transparent transparent transparent;
      z-index: 10;
    }
  }
  .chat__header-participants {
    font-size:0.9rem;
  }

  .chat__header-options-settings {
    text-decoration: none;

    img {
      height: 4vh;
      width: 4vw;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotateY(60deg);
      }
    }
  }
}


.chat__messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(255, 255, 255, 0.5);
}

.chat_send-message {
  @include flex-center;
  justify-content: space-between;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.5);
  @include box-shadow($box-shadow);

  .chat__send-input {
    flex-grow: 1;
    margin-right: 10px;
    @include base-input-styles;
  }

  .chat__send-button {
    background-color: $primary-color;
    color: $pulse-white;
    @include base-button;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
