@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.project-navbar-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0.5rem;

  h3 {
    cursor: pointer;
    color: $text-muted;
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-shadow:
      $box-shadow,
      -($box-shadow);
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border-radius: 10px;

    &:hover {
      color: $primary-color;
    }
  }
}

.projectList__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;

  &.visible {
    max-height: 50vh;
    opacity: 1;
    overflow-y: auto;
    gap: 0.5rem;
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0.4rem;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0.1rem;
    box-shadow:
      $box-shadow,
      -($box-shadow);
    gap: 0.3rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      scale: 1.15;
      box-shadow: none;
    }

    img {
      width: 4rem;
      height: 3.5rem;
      border-radius: 20%;
      box-sizing: border-box;
    }

    p {
      margin: 0;
      font-weight: bold;
      text-align: center;
      color: $text-color;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-color: $primary-color;
      word-break: break-word;
    }
  }
}

@media (max-width: 1180px) {
  .project-navbar-container {
    h3 {
      font-size: 0.6rem;
      text-align: center;
      word-break: auto-phrase;
      padding: 1rem;
      box-sizing: border-box;
    }
  }

  .projectList__container {
    grid-template-columns: 1fr;

    .projectCard {
      justify-content: center;
      padding: 0.5rem 0.2rem;
      p {
        //display: none;
      }
      img {
        margin: 0 auto;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .project-navbar-container {
  }

  .projectList__container {
    .projectCard {
      p {
        display: none;
      }
      img {
      }
    }
  }
}
