@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.layout__container {
  display: grid;
  grid-template-columns: minmax(20vw, auto) 1fr;
  max-height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: $font-family;
  background-color: $background-color;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  min-height: 100vh;
  padding: 0.5rem;
  border-right: 1px solid $border-color;
  width: 20vw;
  box-sizing: border-box;
  @include gradient-bg(
    rgba($primary-color, 0.6),
    rgba($background-fit-color, 0.8)
  );

  .leftSide__container-button {
    margin-bottom: 0.5rem;
    @include base-button;
    background-color: $primary-color;
    color: white;
  }
}

main {
  max-height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url("../../assets/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-height: 450px) {
  header {
    overflow-y: auto;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }
}